## Pandas Lab Exercise (Kaggle Automobile Dataset)

We shall now test your skills in using Pandas package. We will be using the [automobiles Dataset](https://www.kaggle.com/nisargpatel/automobiles/data) from Kaggle. 

Answer each question asked below wrt the automobiles dataset. Load pandas as pd and upload the Automobile.csv file as auto

In [1]:
import pandas as pd

**Load the Automobile dataset into variable "auto"**

In [5]:
data = pd.read_csv('D:/TopMentor/Kaggle DataSets/Automobile.csv')
data.head()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

**Check the head of the DataFrame.**

In [6]:
data.head(10)

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,2,161,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
7,1,168,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
9,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.50,2.80,8.8,101,5800,23,29,16430

**How many rows and columns are there?**

In [8]:
data.shape

(201, 26)

**What is the average Price of all cars in the dataset?**

In [11]:
sum(data.price) / 201

13207.129353233831

**Which is the cheapest make and costliest make of car in the lot?**

In [26]:
for i in range(len(data.price)):
    if data.price.min() == data.price[i]:
        print(f'Costliest Car in lot: {data.make[i]} --> Cost: {data.price[i]}')

Costliest Car in lot: subaru --> Cost: 5118

In [25]:
for i in range(len(data.price)):
    if data.price.max() == data.price[i]:
        print(f'Costliest Car in lot: {data.make[i]} --> Cost: {data.price[i]}')

Costliest Car in lot: mercedes-benz --> Cost: 45400

**How many cars have horsepower greater than 100?**

In [28]:
count = 0
for i in range(len(data.horsepower)):
    if data.horsepower[i] > 100:
        count += 1
print(f'{count} Cars have Greater than 100 Horsepower')

90 Cars have Greater than 100 Horsepower

**How many hatchback cars are in the dataset ?**

In [29]:
count = 0
for i in range(len(data.body_style)):
    if data.body_style[i] == 'hatchback':
        count += 1
print(f'{count} Hatchback Cars in Dataset')

68 Hatchback Cars in Dataset

**What are the 3 most commonly found cars in the dataset?**

**Someone purchased a car for 7099, what is the make of the car?**

In [31]:
for i in range(len(data.price)):
    if data.price[i] == 7099:
        print(f'Car for 7099 is {data.make[i]}')

Car for 7099 is nissan

**Which cars are priced greater than 40000?**

In [37]:
print(f'The Cars which having Price Greater then 40000:\n')
for i in range(len(data.price)):
    if data.price[i] > 40000:
        print(data.make[i])

The Cars which having Price Greater then 40000:

bmw
mercedes-benz
mercedes-benz

**Which are the cars that are both a sedan and priced less than 7000?**

In [40]:
print('Cars that have body SEDAN and Price less than 7000')
for i in range(len(data.price)):
    if data.price[i] < 7000 and data.body_style[i] == 'sedan':
        print(data.make[i])

Cars that have body SEDAN and Price less than 7000
chevrolet
dodge
isuzu
mazda
mitsubishi
nissan
nissan
nissan
plymouth
toyota

### The END